# Facebook Challenge

In [1]:
import pandas as pd

## Challenge 1
Estimate which people and how many people are reachable by the ML roads

For every point in the population density dataset tz_popdens_sample.csv, find the distance to the nearest road pixel with val > 75 (the limit is imposed to be reasonably confident in the prediction) in latitude- longitude units.

In [5]:
pop_data = pd.read_csv('tz_popdens_sample.csv')
pop_data.describe()

       population_count       latitude      longitude
count     101563.000000  101563.000000  101563.000000
mean           3.761931      -6.148189      35.709345
std            2.806253       0.078864       0.090650
min            0.951544      -6.315060      35.507965
25%            2.142800      -6.194227      35.634632
50%            2.980400      -6.158116      35.736576
75%            4.423470      -6.098671      35.774632
max           27.647500      -5.965894      35.859354

In [12]:
pop_data

        population_count  latitude  longitude
0                3.48218 -6.022005  35.719076
1                3.48218 -6.022005  35.722132
2                3.48218 -6.022005  35.722409
3                3.48218 -6.022005  35.733520
4                3.48218 -6.022005  35.744354
...                  ...       ...        ...
101558           7.24281 -6.162838  35.754076
101559           7.24281 -6.162838  35.754354
101560           7.24281 -6.162838  35.754632
101561           7.24281 -6.162838  35.754909
101562           7.24281 -6.162838  35.755187

[101563 rows x 3 columns]